.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
}

.btn-option {
    font-size: 3rem;
    color: #fff;
}
